@media (max-width: 767px) {
	
	.promo .iphone .iphone-holder {
		position: relative;
		width: 320px;
		height: 600px;
		background-repeat: no-repeat;
		background-position: left top;
	}

	.promo .iphone .iphone-holder-inner {
		position: absolute;
		width: 222px;
		height: 394px;
		left: 51px;
		top: 103px;
	}

	.promo .iphone .flexslider .flex-control-nav {
		bottom: -50px;
	}

	
}